/* 
    Document   : index
    Created on : Oct 23, 2013, 11:46:40 AM
    Author     : tricahyana
	Designer   : nurhaman
    Description:
        Purpose of the stylesheet follows.
*/

/* List News */
.list-news{
  text-align: left;
  margin: 0px 10px 0px 10px;
}

.news-information{
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  margin-bottom: 8px;
}

.news{
  /*text-align: justify;*/
  margin-bottom: 10px;
}

.news-title{
  font-size: 24px;
  color: #572111;
  padding: 0px 10px 10px 0px;
  border-bottom: 2px #C34A27 solid;
}

.menu-about a{
  display: inline;
  background: #2d2d2d;
  padding: 1px 8px 3px 8px;
    
}

.container_12 .grid_8 {
  border: 1px solid wheat;
    
}

.conten-img{
    border: 1px #d9522b solid;
    margin: 3px 3px 3px 0px;
}

@media (max-width: 800px) {
  .list-news{
    margin: 90px 10px 0px 10px;
    padding: 0px;
  }  
  
  .news img{
    width: 100%;
    height: 100%;
  } 
  
  .news iframe{
    width: 100%;
  }
}
/* Put yout code here */


