/*CSS by nurhaman@wilayahilmu.com*/
body{
  background-color: #f0f0f0;
}

body a{
  color: #d9522b;
}

.h1, .h2, .h3 {
  display: none;
}

@font-face {
  font-family: CenturyGothic;
  src: url(gothicr.ttf) ;
}

header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}

.navbar {
	background-color: #2d2d2d;
	color: whitesmoke;
  margin-bottom: 0px;
}

.subnavbar {
  min-height: 45px;
  margin-bottom: 20px;
  margin-top: 0px;
  border: 0px solid transparent;
}

.navbar-brand {
	display: none;

}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: CenturyGothic, Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.navbar-inverse .navbar-nav > li > a:hover {
    /*Background-color:#f9693f;*/
  background-color: #d9522b;
  -webkit-transition: all 0.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 0.7s cubic-bezier(0.22, 0.44, 0, 1);}

.subnavbar-inverse {
    background: #d9522b;
    box-shadow: 0px 2px 15px #d9522b;
}

.subnavbar-inverse a {
    color: white;
}

.subnav {
    display: inline;
}

.subnavbar-brand {
  color: white;
  display: none;
  float: left;
  padding: 15px 15px;
  line-height: 20px;
}

#cari-text {
  font-family: CenturyGothic, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #2d2d2d;
  border: 0px black hidden;
  height: 29px;
  width: 100px;
  -webkit-animation: cari_text 1s;
  animation: cari_text_all 1s;
}

#cari {
  background-color: #d9522b;
  border: hidden;
  color: #2d2d2d;
  padding: 14px 10px 10px 10px;
}

.subnavbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  line-height: 20px;
}

#navbar-toggle2 {
  display: none;
}

.sub-content-interest a:hover {
  cursor:pointer;
 
}

.footer{
  font-family: CenturyGothic, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/*PC Display Only*/
@media (min-width: 768px) {

  .body-content {
    margin: auto;
    width: 1340px;
    margin-top: 100px;
  }
  
  .col-md-8 {
    border: 1px solid wheat;
    width: 61.666667%;
  }
  
  .subnavbar-crolldown {
    min-height: 28px;
    height: 28px;
  }
  
  .subnavbar-nav {
    padding-left: 0px;
    float: left;
    margin: 0;
  }
  
  .subnavbar a:hover, a:focus {
    text-decoration: underline;
  }
  
  .subnavbar-nav > li {
    float: left;
    list-style: none; 
  }

  .subnavbar-nav > li > a {
     
    font-size: 13px;
    padding-bottom: 15px;
    
  }
  
  .navbar {
    height: 44px; 
  }

  .container-fluid {
    height: 44px;
  }

  .Content-interest {
    height: 300px;
    padding-top: 10px;
  }

  .box {
    width: 168px;
    height: 150px;
    min-height: 100px;
  }
  
  #socialmediasub-above {
    margin: 0px 10px 0px 0px;
  }
  
  .social-media-sub-above-non-active {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .social-media-sub-above-active {
    visibility: visible;
    opacity:1;
  }
}

/*Mobile CSS Goes Here*/
@media (max-width: 800px) {
  .navbar-collapse.in {
    overflow-y: visible;
  }
  
  .navbar-brand {
    font-family: CenturyGothic, Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-left: 30px;
    display: block;
  }
  
  .subnavbar-nav > li {
    text-align: center;
    list-style: none; 
    padding: 4px 0px 4px 0px;
  }
  
  .subnavbar-nav > li:active {
    background-color: #e7957e;
    width: 100%;
  }
  
  .subnavbar-brand {
  /*  padding-top: 3px;
    display: block;
  font-size: 15px;
  text-decoration: underline;*/
  }
  
  #navbar-toggle2{
    display: block;
    padding: 0px 4px;
  }
  
  .subheader-mobile {
    height:30px;
  }
  
  .subcontainer-fluid {
    padding-right: 0px !important;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px; 
  }
  
  .subnavbar-nav > li > a {
    padding-right: 0px;
  }
  
  .subnavbar {
    min-height: 30px;
  }
  
  .Content-interest {
    text-align: center;
  }
  
  .Content-Article{
    text-align: center;
  }
  
  .postwrapper{
    padding-left: 0px;
  }
  
  #popular-wrapper {
    display: none;
    padding-right: 15px;
    padding-top: 25px;
  }
  
  .body-content{
    margin-top: 75px;
  }
}


.subcontainer-fluid {
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

#navbar-toggle2 {
  margin: auto;
  width: 200px;
  position: relative;
  
  margin-top: 1px;
  /*margin-right: 8px;
  float: right;*/
  margin-bottom: 8px;
  background-color: white;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
}

.container  {
  border: 1px #d9522b;
}

.slider-wrapper {
  margin: auto;
  float: right;
}

content {
  position: fixed;
}

.conten-title {
  background-color: #d9522b;
  color: white;
  border-bottom: 3px #d9522b solid;
  padding: 3px 3px 3px 10px;
  height: 25px;
}


.popular-conten {
  border-bottom: 1px solid wheat;
    border-left: 1px solid wheat;
    background-color:  white;
    padding: 1px 0px 1px 0px;
}

.popular-conten>ul{
  padding: 0px 10px 0px 15px;
}

.popular-conten ul li{
    list-style: none;
}

.populartitle {
  padding-bottom: 5px;
  padding-top: 5px;
}

.container_12 {
  margin-left: auto;
  margin-right: auto
}

.header-accordion {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 3px 0px;
  color: #221e1d;
  border-bottom: 2px #d9522b solid;
}

.box-popular {
  border-bottom:  1px solid #d9522b;
}

.box {
  height: 150px;
  min-height: 100px;
  background-color: white;
  margin-bottom: 10px;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: inline-table;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-animation: box_leave 1s;
  animation: box_leave_all 1s;
}

.box-title {
  color: white;
  padding-top: 10px;
  display: table;
  vertical-align: bottom;
  text-align: left;
}

.box-conten {
  max-height: 50px;
  max-width: 150px;
  font-size: 13px;
  display: inital;
  text-align: left;
  font-size: 13px;
  color: #d9522b;
}

.box-conten-interest {
  max-height: 50px;
  max-width: 150px;
  font-size: 13px;
  text-align: left;
  font-size: 13px;
  color: #d9522b;
}

.box-wrapper-a {
  width: 180px;
  }


.isi-judul {
  background-color: #d9522b;
}

.isi-wrapper{
  padding: 5px;
}

.isi-wrapper-interest{
  width: 260px;
  height: 200px;
  padding: 5px;
}

.img-post-size {
  width: 250px;  
}

/*Socal Media*/
.fa {
  background-color: white;
  padding: 7px;
  width: 27px;
  text-align: center;
}
.fa:hover {
  background-color:#2d2d2d;
  color: white;
  -webkit-transition: all 0.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 0.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.fa-facebook{
  color: #3a5795;
}

.fa-twitter{
  color: #55acee;
}

.fa-instagram{
  color: #9b6954;
}
/*Socal Media*/

/*Cari*/
#cari-text{
  border: 0px black hidden;
  height: 30px;
  width: 200px;
  -webkit-animation: cari_text 1s;
  animation: cari_text_all 1s;
  margin: 0px 6px 0px 0px;
  padding: 4px 10px 0px 10px;
}

@-webkit-keyframes cari_text{
  from{
    background-color: whitesmoke;
    width: 250px;
  }
  
  to{
    border: 0px black hidden;
    background-color: #d9522b;
    width: 200px;
  }
}

@keyframes cari_text_all{
  from{
    background-color: whitesmoke;
    width: 250px;
  }
  
  to{
    border: 0px black hidden;
    width: 200px;
  }
}

#cari-text:focus{
  background-color: whitesmoke;
  width: 250px;
  -webkit-animation: cari_text_focus 1s;
  animation: cari_text_focus_all 1s;
}

@-webkit-keyframes cari_text_focus{
  from{
    border: 0px black hidden;
    width: 200px;
  }
  
  to{
    border-bottom: 1px #2d2d2d hidden;
    background-color: whitesmoke;
    width: 250px;
  }
}

@keyframes cari_text_focus_all{
  from{
    border: 0px black hidden;
    width: 200px;
  } 
  /*main-center-conten*/
  
  to{
    border-bottom: 1px #2d2d2d hidden;
    background-color: whitesmoke;
    width: 250px;
  }
}

#cari{
    border: hidden;
    color: white;
    padding: 14px 10px 10px 10px;
}

#cari:hover{
    opacity: 0.8;
}
/*Cari*/

/* Footer */
.footer{
  margin: 57px 0px 0px 0px;
}

.footer-header{
  padding: 3px 3px 3px 7px;
  background-color: #afafaf;
  height: 5px;
  color: white;
  text-align: center;
  font-size: 15px;
  padding-left: 4%;
  padding-right: 4%;
}

.footer-bottom{
  padding: 6px 0px 5px 0px;
  background-color: #d9522b;
  color: white;
  font-size: 12px;
  padding-left: 0%;
  padding-right: 0%;
  font-family: helvetica;
  text-align: center;
}

.footer-big{
  padding: 4px 4px 4px 8px;
  background-color: #2d2d2d;
  height: 150px;
  color: white;
  padding-left: 4%; 
  padding-right: 4%;
  text-align: center
}

.footer-big h3{
  margin: 0px;
  color: #d9522b;
}

.footer-big h5{
  margin: 1px;
}

.penjelasan {
  margin-top: 15px;
  font-size: 12px;
  list-style: none;
}

.penjelasanlink{
  font-weight: bold;
  font-size: 14px;
  list-style: none;
  margin-top: 16px;
}

.footerkiritengah {
  margin-left: 220px;
  margin-top: -95px;
}

.footertengah{
  margin-left: 440px;
  margin-top: -95px;
}
